/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/


#mini-features h3 { font-size:18px; padding-top:12px; padding-bottom:10px; font-weight:bold; color:#444; letter-spacing:-1px;}


#header{padding: 20px 10px 0px 0px; }



.home ul#nav { margin:20px -14px 0px 0px; }

ul.products li a img {
    width: 100 px;
}

ul.products li {
    width: 155px;
}
.entry img, img.thumbnail {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E6E6E6;
    padding: 0;
}

h4{text-shadow: -3px 0 4px #001;
}

h2 {
  color: #3D595B;
  -webkit-mask-image: -webkit-gradient(linear, left top, »
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }

.entry img:hover { opacity: 0.8; }

div#header div.col-full {position: relative;}

.fb-like {position: absolute: right:0; bottom: 25px;}

/*
** Carlos Parra 15/04/14
*/
#footer .col-full{
    position: relative;
}
#footer a{
    color: #333;
}
#footer .container-copyicons{
    position: absolute;
    top: 210px;
    left: 0px;
}
#footer .icons{
    position: absolute;
    left: 315px;
    bottom: 20px;
    font-size: 19px;
}
#footer .icons a,#footer .icons .fa{
    transition-property:all;
    transition-duration:.5s;
    opacity: .7;
    text-decoration: none;
    margin: 0px 2px
}
#footer .icons a:hover, #footer .icons .fa:hover{
    opacity: 1;
}
#footer .icons .socicon{
    /*color: #888888;*/
}
#footer .icons .fa-facebook-square:hover{
    color: #3b5998;
}
#footer .icons .fa-google-plus-square:hover{
    color: #dd4b39;
}
#footer .icons .yelp:hover{
    color: #c41200;
}
#footer .icons .tripadvisor:hover{
    content: #333;
}
#footer > .col-full > div{
    width: 33.33%;
    float: left;
}
.footer_topic{
    margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#footer input[type="text"],
#footer input[type="email"],
#footer textarea{
    background-color: #fff;
    border: 0px;
    color: #505050;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 3px;
}
#footer input[type="submit"]{
    background-color: #085882;
    border: 0px;
    color: #fff;
    padding: 8px 20px;
    margin: 2px 0px 0px;
    border-radius: 3px;
}
#footer label.error{
    color: #333;
}
#footer input[type="text"].error,
#footer input[type="email"].error,
#footer textarea.error{
    border-bottom: 1px solid #333;
}
#footer .copyright{
    font-size: 15px;
    margin-top:15px;
    color: #fff;
}
#footer input[type="submit"]:hover {
    background-color: #333;
    cursor: pointer;
}
#footer .container-social-buttons a {
    margin: 0px 2px;
    text-decoration: initial;
}
#footer div.wpcf7-mail-sent-ok{
    border: 2px solid #333;
}

#footer {
    background-color: #fff;
    color: #333;
    font-size: 16px;
    background-size: 
    background-position: ;
    box-shadow: 0px 0px 20px #335CAD;
       padding: 20px 0px 50px 0px;
}
#footer .icons {
    font-size: 21px;
    top:145px;
}
#footer .rc-logo{
    display: block;
    max-width:100%;
}
#footer .rc-container{
    transition-property: all;
    transition-duration: .5s;
    opacity:.8;
}
#footer .rc-container:hover{
    opacity:1;
}
#top{
    /*background-size:cover;*/
    background-color:#0867a9;  
}
#footer-widgets{background-repeat:repeat;
    box-shadow: 5px 0px 0px #E0EBEB;
    /*background-repeat:reapeat;*/
}
#footer .footer_topic{
    color: #fff;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 20px;
    text-transform: initial;
}

/*Menu Home Fix*/
.home ul#nav {
    margin: 9px 0px 0px 0px;
}


@font-face {
    font-family: 'socicon';
    src: url('/wp-content/themes/inspire/css/socicon/font/socicon-webfont.eot');
    src: url('/wp-content/themes/inspire/css/socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/inspire/css/socicon/font/socicon-webfont.woff') format('woff'),
         url('/wp-content/themes/inspire/css/socicon/font/socicon-webfont.ttf') format('truetype'),
         url('/wp-content/themes/inspire/css/socicon/font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.socicon {
    font-family: 'socicon' !important;
    font-size: 1.8em !important;
}
.socicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'socicon';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.socicon:empty{
    width: 1em;
}
/*
** Header 
*/
#featured{
	margin-top:0px;
}
#header {
	padding: 20px 10px 10px 0px;
}

/*
** Surf Camp
*/
.container-page-surfcamp-tabs,
.container-page-surflesson-tabs{
    margin-bottom: 20px;
}

.container-page-surfcamp-tabs .tab:hover,
.container-page-surflesson-tabs .tab:hover{
    background-color: #eee;
}

.container-page-surfcamp-tabs .tab,
.container-page-surflesson-tabs .tab{
  width: 48%;
  float: left;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25px 20px 10px 20px;
  line-height: initial;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  cursor: pointer;
}
.container-page-surfcamp-tabs .tab2,
.container-page-surflesson-tabs .tab2{
    margin-left: 4%;
}

.container-page-surfcamp-tabs .tab small,
.container-page-surflesson-tabs .tab small{
    color: #96B18E;
    font-weight: bold;
    font-size: 15px;
}

.container-page-surfcamp-tabs .tab h2,
.container-page-surflesson-tabs .tab h2{
    color: #201C5E;
    font-size: 43px;
}

.entry-clear{
    clear: both;
}

.text-center{
    text-align: center;
}

.tab-content-2{
    display: none;
}

.tab-bg{
    box-shadow: 0px 1px 1px #C2C2C2 inset !important;
    border: 1px solid #BDBDBD;
    background-color: #eee;
}

/*
** Tabs Reset
*/

#tabs{
  background: none;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
  box-shadow: none !important;
}

#tabs .ui-tabs-nav{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    background: none;
    border: none;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    padding: 15px 10% 0px 10%;
    text-align: center;
    box-sizing: border-box;
}

@media(max-width: 940px){
  #tabs .ui-tabs-nav{
    padding: 15px 0% 0px 0%;
  }
}

#tabs .ui-tabs-nav li{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: none;
    font-size: 24px;
    margin: 0px;
    width: 24%;
    float: none;
    display: inline-block;
    padding-bottom: 2px;
}
/*
#tabs .ui-tabs-nav li:first-child{
    margin-left: 5%;
}

#tabs .ui-tabs-nav li:nth-child(3){
    margin-left: 15%;
}*/

#tabs .ui-tabs-nav li a{
    padding: 0px;
    margin: 0px;
    color: #201C5E;
}

#tabs .ui-tabs-nav li a:hover{
    border-bottom: 4px solid #96B18E;
}

.ui-state-default a{
  border-bottom: 3px solid transparent;
}

.ui-state-active a,
.ui-tabs-hover a{
    border-bottom: 4px solid #96B18E;
}

.ui-tabs .ui-tabs-nav li a{
  float: none;
}

.font-tillium{
    font-family: 'Titillium Web', sans-serif;
}

.font-francoise{
  font-family: 'Francois One', sans-serif;
}

.text-muted{
    color: #959494;
}

.page-surflesson .title-h3,
.page-surfcamp .title-h3{
    margin-bottom: 10px;
}

.container{
  width: 940px;
  margin: 0px auto;
  display: block;
  box-sizing: border-box;
}

.page-surfcamp .entry .flexslider ul,
.page-surflesson .entry .flexslider ul{
  margin: 0px;
  padding: 0px;
}

.flexslider{
  font:initial;
  margin: 30px auto 0px auto !important;
  border: none !important;
}

.flexslider > div{
  border-bottom: 1px solid #dadada;
  border-top: 1px solid #dadada;
}

.flexslider img{
  border: 0px;
}

.flexslider img:hover{
  opacity: 1;
}

.flex-direction-nav a{
  display: none !important;
}

.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next{
  display: block !important;
}

.flex-direction-nav{
  margin: 0px !important;
  padding: 0px !important;
}

.page-surflesson h3,
.page-surfcamp h3,
.page-surflesson h4,
.page-surfcamp h4,
.page-instructor h4,
.page-instructor h4{
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  text-shadow: none;
}

.page-surflesson p,
.page-surfcamp p{
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
}

.page-surflesson,
.page-surfcamp{
  color: #333;
}

.row p{
  margin-bottom: 10px;
}

.btn-blue{
  width: 150px;
  padding: 5px 0px;
  box-sizing: border-box;
  background-color: #3b345d;
  border: 0px;
  display: block;
  text-decoration: none !important;
  color: #fff !important;
  border-radius: 2px;
  font-family: 'Francois One', sans-serif;
  letter-spacing: 2px;
}

.btn-lg{
  width: 225px;
}

.center-block{
  margin: 0px auto;
  display: block;
}

.btn-white{
  color: #3b355b !important;
  border: 1px solid #b6b6b6;
  text-decoration: none !important;
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 14px !important;
}

.page-surfcamp h4,
.page-surflesson h4{
  text-shadow: none;
  font-size: 25px;
}

.page-surfcamp h4 small,
.page-surflesson h4 small
{
  color: #9fabb7;
  font-size: 15px;
}

.text-green{
  color: #4b9756;
}

.ui-tabs .ui-tabs-panel{
  padding: 0px;
}

.page-instructor #tabs .ui-tabs-nav{
  border:none;
}

.fsize-24{
  font-size: 24px;
}

.page-instructor .row > div{
  margin-top: 30px; 
}

.page-instructor h4{
  margin-bottom: -20px;
  margin-top: 30px;
}

.row iframe{
  width: 100%;
}